---
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
import Hero from '../components/Hero.astro';
---

<Layout>
    <Hero>
        <h1 class="text-5xl text-white mb-6 text-center">
            ABOUT US
        </h1>
    </Hero>
    <About />
</Layout>
