---
import '../styles/global.css'
import Header from "../components/Header.astro";
import '@fontsource/cormorant-garamond';
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <title>Joseph Kidushim Insurance Services</title>
</head>
<body class="flex flex-col min-h-screen">
<Header/>

<!-- Page Content -->
<main class="flex-grow">
    <slot/>
</main>

<!-- Footer -->
<footer class="text-center p-6 mt-8">
    © {new Date().getFullYear()} Joseph A. Kidushim Insurance Services. All rights reserved.
</footer>
</body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
