---
import logo from '../assets/logo.png';
---
<footer class="shadow-lg section-bg-light">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex flex-row items-start justify-between h-auto py-3 gap-4">
            <div class="flex items-center gap-3 self-center justify-center">
                <img class="h-12 w-auto sm:h-16" src={logo.src} alt="logo"/>
            </div>
            <div class="text-lg">
                <div class="font-extrabold text-xl">Contact</div>
                <div class="">
                    Phone: <a href="tel:9492222299">949 222 2299</a>
                </div>
                <div class="">
                    Fax: <a href="tel:9492619868">949 261 9868</a>
                </div>
                <div class="">
                    Toll Free: <a href="tel:8002629492">800 262 9492</a>
                </div>
                <div class="">
                    Email: <a href="mailto:">joe@kidushim.com</a>
                </div>
            </div>
        </div>
    </div>
</footer>