<header class="shadow-lg">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex flex-row items-center justify-between h-auto py-3 gap-4">
            <div class="flex items-center gap-3">
                <img class="h-12 w-auto sm:h-16" src="logo.jpg" alt="logo" />
            </div>
            <div class="flex items-center gap-3">
                <a href="/joe_kidushim/">
                    HOME
                </a>
                <a class="ml-2" href="/joe_kidushim/about">
                    ABOUT US
                </a>
                <a class="ml-2" href="/joe_kidushim/services">
                    OUR SERVICES
                </a>
                <a class="ml-2" href="/joe_kidushim/contact">
                    CONTACT US
                </a>
            </div>
        </div>
    </div>
</header>