---
const {data = {}} = Astro.props;
---
<div data-link={data.link}
     class="link border py-3 px-1 w-full sm:w-1/2 md:w-1/3 lg:w-1/4 mb-4 rounded-lg shadow-md bg-white cursor-pointer text-black flex flex-col items-center min-h-[220px]">
    <div class="title-color font-semibold text-xl md:text-3xl text-center mb-2">{data.title}</div>
    <div class="text-base md:text-2xl text-center">{data.description}</div>
</div>

<script>
    document.querySelectorAll('.link').forEach(el => {
        el.addEventListener('click', () => {
            const href = el.getAttribute('data-link');
            if (href) window.location.href = `/joe_kidushim/services#${href}`;
        });
    });
</script>